<h1 id="title-center">Listen to songs</h1>

<!-- TODO: Save submission! -->
<div ng-controller="SongsController as ctrl" layout="column" ng-cloak id="listen-bar">
  <md-content layout-padding layout="column">
  <form ng-submit="submit(ctrl.selectedItem)">
    <p>Enter a song you've listened to. It will be saved on your profile.</p>
    <md-autocomplete
      ng-disabled="ctrl.isDisabled"
      md-no-cache="ctrl.noCache"
      md-selected-item="ctrl.selectedItem"
      md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
      md-search-text="ctrl.searchText"
      md-selected-item-change="ctrl.selectedItemChange(item)"
      md-items="item in ctrl.querySearch(ctrl.searchText)"
      md-item-text="item.name"
      md-min-length="0"
      placeholder="Pick a song!"
      md-menu-class="autocomplete-custom-template">
      <md-item-template>
        <span class="item-title">
          <span> {{item.name}} </span>
        </span>
        <span class="item-metadata">
          <span class="item-metastat">
            Artist: <strong>{{item.artist}}</strong>
          </span>
          <span class="item-metastat">
            Album: <strong>{{item.album}}</strong>
          </span>
        </span>
      </md-item-template>
    </md-autocomplete>
    <md-button class="md-raised" type="submit">
      Submit
    </md-button>
  </form>
  </md-content>
</div> 



