<section data-ng-controller="EntriesController" data-ng-init="findOne()">
  <h1>Edit Entry</h1>
  <form data-ng-submit="update()" novalidate>
 
    <div>
      <label for="author">Author</label>
      <div>
        <input type="text" data-ng-model="entry.author" id="author"
                           placeholder="Author" required>
      </div>
    </div>

    <div>
      <label for="titleEn">English Title</label>
      <div>
        <input type="text" data-ng-model="entry.titleEn" id="titleEn"
                           placeholder="TitleEn" required>
      </div>
    </div>

    <div>
      <label for="titlePt">Portuguese Title</label>
      <div>
        <input type="text" data-ng-model="entry.titlePt" id="titlePt"
                           placeholder="TitlePt" required>
      </div>
    </div>

    <div>
      <label for="type">Type of document</label>
      <div>
        <select data-ng-model="entry.type" id="type" name="type" required>
          <option value="">---Please select---</option>
          <option value="Article">Article</option>
          <option value="Document">Document</option>
          <option value="Review">Review</option>
          <option value="Tribute">Tribute</option>
        </select>
      </div>
    </div>

    <div>
      <label for="issue">Issue</label>
      <div>
        <input type="text" data-ng-model="entry.issue" id="issue"
                           placeholder="issue" required>
      </div>
    </div>
    <div>
      <input type="submit">
    </div>
    <div data-ng-show="error">
      <strong data-ng-bind="error"></strong>
    </div>
  </form>
</section>
