<section data-ng-controller="EntriesController" data-ng-init="findOne()">
  <h1 data-ng-bind="entry.titleEn"></h1>
  <h1 data-ng-bind="entry.titlePt"></h1>
  <h2 data-ng-bind="entry.author"></h1>

  <!-- Probably need to add confirmation on deletion  -->
  <div data-ng-show="authentication.user">
    <a href="/#!/entries/{{entry._id}}/edit">edit</a>
    <a href="#" data-ng-click="delete();">delete</a>
  </div>

  <small>
    <em>Posted on</em>
    <em data-ng-bind="entry.created | date:'mediumDate'"></em>
  </small>

  <h3 data-ng-bind="entry.type"></h1>
  <h3 data-ng-bind="entry.issue"></h1>
  
</section>
